name: Simple grade build

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Check license header
      run: ./gradlew checkLicenses
    - name: Check formating
      run: ./gradlew verifyGoogleJavaFormat
    - name: Build with Gradle
      run: ./gradlew assemble test
